# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Flutter
.dart_tool/
.packages
.pub/
build/

# VSCode
.vscode/

# Windows
Thumbs.db
desktop.ini

# Mac
.DS_Store

# Logs
*.log